# Banco BanQuito V2 - notification-service
SERVER_PORT=8087
SPRING_PROFILES_ACTIVE=docker

# Database
NOTIFICATION_DB_URL=jdbc:mysql://mysql-notification:3306/banquito_notification_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Guayaquil
NOTIFICATION_DB_USERNAME=root
NOTIFICATION_DB_PASSWORD=ChangeMeNotificationDbPassword

# Security - must match identity-access-service
JWT_ISSUER=banquito-identity-access
JWT_SECRET=ChangeMeWithTheSameJwtSecretUsedByIdentity

# Delivery mode
# SIMULATED = keeps current laboratory behavior.
# SMTP = sends real/pseudo-real email using spring.mail.* SMTP settings.
NOTIFICATION_DELIVERY_MODE=SIMULATED
NOTIFICATION_PROVIDER=SMTP
SMTP_FROM=no-reply@banquito.com
SMTP_REPLY_TO=

# Local laboratory option: Mailpit
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTH=false
SMTP_STARTTLS_ENABLE=false

# Cloud/real SMTP option: replace with provider values
# SMTP_HOST=smtp.provider.com
# SMTP_PORT=587
# SMTP_USERNAME=apikey-or-user
# SMTP_PASSWORD=secret
# SMTP_AUTH=true
# SMTP_STARTTLS_ENABLE=true

# Future RabbitMQ event consumption
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=banquito_rabbit
RABBITMQ_PASSWORD=ChangeMeRabbitPassword
